@use "variables";

@mixin xs {
  @media (min-width: variables.$screen-xs) {
    @content;
  }
}

@mixin sm {
  @media (min-width: variables.$screen-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: variables.$screen-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: variables.$screen-lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: variables.$screen-xl) {
    @content;
  }
}