// @use "./tailwind.css";
@use "variables";
@use "page";
@use "home";
@use "nav";
@use "about";
@use "programming";
@use "pixelart";
@use "background";
@use "contact";

// bootstrap icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
	background-color: variables.$black;
	color: variables.$black;
	width: 100%;
	margin: 0;
	font-family: variables.$font-main;
	font-weight: variables.$font-main-weight;
	font-style: variables.$font-main-style;
}

body {
	margin: 0;
}

.textbox {
	background-color: variables.$textbox-transparent;
	color: variables.$color-dark2;
	border: 1px solid #dadada;
	margin: variables.$gutter;
	padding: 50px;
	.title {
		font-size: x-large;
		font-style: italic;
		font-family: variables.$font-accent;
		font-weight: 600;
		// text-decoration: underline;
		margin-bottom: 10px;
	}
	.body {
		font-size: large;
	}
}

a, .link {
  width: fit-content;
	font-family: variables.$font-accent;
	font-weight: normal;
	text-decoration: none;
	list-style-type: none;
	color: variables.$color-dark1;
	border-bottom: 1px solid transparent;
	transition: border 0.25s ease-in-out;
	&:hover {
		cursor: pointer;
		border-bottom: 1px solid rgba(variables.$color-dark1, 0.5);
	}
}

ul, .list {
  text-align: left;
  li, .item {
    padding-left: calc(variables.$gutter / 2);
    margin: 5px 0;
  }
}

.footer {
	display: flex;
	width: 100%;
	height: variables.$gutter * 2;
	background-color: variables.$color-accent;
	justify-content: center;
	align-items: center;
}

#root {
	min-height: 100vh;
	// background-image: url("../assets/landscape_light.svg");
	background-size: cover;
	margin: 0 auto;
	// padding: 2rem;
	text-align: center;
}

:root {
	min-height: 100vh;
	// font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light; // dark;
	color: variables.$white;

	// background-color: variables.$black;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
